@use 'sass:map'; 
@use 'sass:string'; 
@import 'ljas-ui-theme';

// Local variables

$alignments: ('center', 'start', 'end', 'stretch');

$justifies: ('center', 'start', 'end', 'stretch', 'space-around', 'space-between', 'space-evenly');

// Classes

.root {
    display: flex;
}

.grow {
    flex-grow: 1;
}

// Variants

.--wrap {
    flex-wrap: wrap;
}

.--horizontal {
    flex-direction: row;

    &.--block {
        width: 100%;
    }
}

.--vertical {
    flex-direction: column;

    &.--block {
        width: 100%;
        height: 100%;
    }
}

.--stretch {
    & > * {
        flex-grow: 1;
        flex-shrink: 1;
    }
}

@each $alignment in $alignments {
    .--align-#{$alignment} {
        align-items: string.unquote($alignment);
    }
}

@each $justify in $justifies {
    .--justify-#{$justify} {
        justify-content: string.unquote($justify);
    }
}

@each $gap, $value in $Stack_gaps {
    .--gap-#{$gap} {
        gap: var(--Stack--gap#{$gap}, map.get($Stack_gaps, $gap));
    }
}
