:root {
  --pk-keyboard-vertical-align: bottom;
  --pk-pianoKey-stroke: #252525;
  --pk-pianoInfo-fontSize: 10px;
  --pk-pianoInfo-fontWeight: bold;
  --pk-pianoKeyName-fontSize: 12px;
  --pk-pianoLabel-fontSize: 12px;
  --pk-pianoLabel-opacity: 0;
  --pk-pianoLabel-transform: translateY(18px);
  --pk-black_background: #000000;
  --pk-black_color: #ffffff;
  --pk-white_background: #ffffff;
  --pk-white_color: #000000;
  --pk-text_opacity: 0.5;
  --pk-sustained_background: #808080;
  --pk-sustained_color: #ffffff;
  --pk-wrapPlayed_background: #800000;
  --pk-wrapPlayed_color: #ffffff;
  --pk-played_background: #ff0000;
  --pk-played_color: #ffffff;
  --pk-color-neutral-lighter: #cccccc;
  --pk-color-neutral-normal: #5c5c5c;
  --pk-color-neutral-dark: #303030;
  --pk-color-primary-normal: #3567f0;
  --pk-color-primary-dark: #1148e1;
  --pk-color-danger-dark: #c1292b;
  --pk-color-danger-normal: #d84547;
  --pk-color-success-dark: #127c4f;
  --pk-color-success-normal: #19a86c;
}

.keyboard {
  vertical-align: var(--pk-keyboard-vertical-align);
  width: 100%;
  height: 100%;
  user-select: none;
  will-change: contents;
}

.pianoKey {
  stroke: var(--pk-pianoKey-stroke);
  transition: fill ease var(--PianoKeyboard-fadeOut_duration, 0s);
}

.pianoInfo {
  font-size: var(--pk-pianoInfo-fontSize);
  font-weight: var(--pk-pianoInfo-fontWeight);
}

.pianoKeyName {
  font-size: var(--pk-pianoKeyName-fontSize);
}

.pianoLabel {
  font-size: var(--pk-pianoLabel-fontSize);
  fill: currentColor;
  opacity: var(--pk-pianoLabel-opacity);
  transform: var(--pk-pianoLabel-transform);
  transition:
    transform ease var(--PianoKeyboard-fadeOut_duration, 0s),
    opacity ease var(--PianoKeyboard-fadeOut_duration, 0s);
}

.pianoLabel.labelled {
  opacity: 1;
  transform: translateY(0);
  transition: transform ease 0s, opacity ease 0s;
}

.note.black .pianoKey {
  fill: var(--PianoKeyboard-black_background, var(--pk-black_background));
}

.note.black .pianoKeyName {
  fill: var(--PianoKeyboard-black_color, var(--pk-black_color));
  opacity: var(--PianoKeyboard-text_opacity, var(--pk-text_opacity));
}

.note.black .pianoTonic {
  fill: var(--PianoKeyboard-black_color, var(--pk-black_color));
  opacity: 0;
}

.note.black .pianoInfo {
  fill: var(--PianoKeyboard-black_color, var(--pk-black_color));
  opacity: var(--PianoKeyboard-text_opacity, var(--pk-text_opacity));
}

.note.white .pianoKey {
  fill: var(--PianoKeyboard-white_background, var(--pk-white_background));
}

.note.white .pianoKeyName {
  fill: var(--PianoKeyboard-white_color, var(--pk-white_color));
  opacity: var(--PianoKeyboard-text_opacity, var(--pk-text_opacity));
}

.note.white .pianoTonic {
  fill: var(--PianoKeyboard-white_color, var(--pk-white_color));
  opacity: 0;
}

.note.white .pianoInfo {
  fill: var(--PianoKeyboard-white_color, var(--pk-white_color));
  opacity: var(--PianoKeyboard-text_opacity, var(--pk-text_opacity));
}

.note.tonic.played .pianoTonic,
.note.info.played .pianoInfo {
  opacity: 1;
}

.note.wrapSustained .pianoKey,
.note.sustained .pianoKey {
  fill: var(--PianoKeyboard--sustained_background, var(--pk-sustained_background));
}

.note.wrapSustained .pianoKeyName,
.note.wrapSustained .pianoInfo,
.note.wrapSustained .pianoTonic,
.note.sustained .pianoKeyName,
.note.sustained .pianoInfo,
.note.sustained .pianoTonic {
  fill: var(--PianoKeyboard--sustained_color, var(--pk-sustained_color));
}

.note.wrapPlayed .pianoKey {
  fill: var(--PianoKeyboard--wrapPlayed_background, var(--pk-wrapPlayed_background));
  transition: fill ease 0s;
}

.note.wrapPlayed .pianoKeyName,
.note.wrapPlayed .pianoInfo,
.note.wrapPlayed .pianoTonic {
  fill: var(--PianoKeyboard--wrapPlayed_color, var(--pk-wrapPlayed_color));
}

.note.played .pianoKey {
  fill: var(--PianoKeyboard--played_background, var(--pk-played_background));
  transition: fill ease 0s;
}

.note.played .pianoKeyName,
.note.played .pianoInfo,
.note.played .pianoTonic {
  fill: var(--PianoKeyboard--played_color, var(--pk-played_color));
}

/* VARIANTS */

.--withTargets .white.target .pianoKey {
  fill: var(--pk-color-neutral-lighter);
}

.--withTargets .white.target .pianoKeyName,
.--withTargets .white.target .pianoInfo,
.--withTargets .white.target .pianoTonic {
  fill: var(--pk-color-neutral-dark);
}

.--withTargets .black.target .pianoKey {
  fill: var(--pk-color-neutral-normal);
}

.--withTargets .black.target .pianoKeyName,
.--withTargets .black.target .pianoInfo,
.--withTargets .black.target .pianoTonic {
  fill: var(--pk-color-white, #ffffff);
}

.--withTargets .note.exactTarget .pianoKey {
  fill: var(--pk-color-primary-normal);
}

.--withTargets .note.exactTarget .pianoKeyName,
.--withTargets .note.exactTarget .pianoInfo,
.--withTargets .note.exactTarget .pianoTonic {
  fill: var(--pk-color-white, #ffffff);
}

.--withTargets .note.exactWrapTarget .pianoKey {
  fill: var(--pk-color-primary-dark);
}

.--withTargets .note.exactWrapTarget .pianoKeyName,
.--withTargets .note.exactWrapTarget .pianoInfo,
.--withTargets .note.exactWrapTarget .pianoTonic {
  fill: var(--pk-color-white, #ffffff);
}

.--withTargets .note.wrapPlayed .pianoKey {
  fill: var(--pk-color-danger-dark);
}

.--withTargets .note.wrapPlayed .pianoKeyName,
.--withTargets .note.wrapPlayed .pianoInfo,
.--withTargets .note.wrapPlayed .pianoTonic {
  fill: var(--pk-color-white, #ffffff);
}

.--withTargets .note.played .pianoKey {
  fill: var(--pk-color-danger-normal);
}

.--withTargets .note.played .pianoKeyName,
.--withTargets .note.played .pianoInfo,
.--withTargets .note.played .pianoTonic {
  fill: var(--pk-color-white, #ffffff);
}

.--withTargets .note.wrapPlayed .pianoKey,
.--withTargets .note.target.wrapPlayed .pianoKey {
  fill: var(--pk-color-success-dark);
}

.--withTargets .note.wrapPlayed .pianoKeyName,
.--withTargets .note.wrapPlayed .pianoInfo,
.--withTargets .note.wrapPlayed .pianoTonic,
.--withTargets .note.target.wrapPlayed .pianoKeyName,
.--withTargets .note.target.wrapPlayed .pianoInfo,
.--withTargets .note.target.wrapPlayed .pianoTonic {
  fill: var(--pk-color-white, #ffffff);
}

.--withTargets .note.exactTarget.played .pianoKey,
.--withTargets .note.target.played .pianoKey {
  fill: var(--pk-color-success-normal);
}

.--withTargets .note.exactTarget.played .pianoKeyName,
.--withTargets .note.exactTarget.played .pianoInfo,
.--withTargets .note.exactTarget.played .pianoTonic,
.--withTargets .note.target.played .pianoKeyName,
.--withTargets .note.target.played .pianoInfo,
.--withTargets .note.target.played .pianoTonic {
  fill: var(--pk-color-white, #ffffff);
}
