$Avatar_background: $color-neutral-200 !default;
$Avatar_color: $color-neutral-800 !default;
$Avatar_fontSizeRatio: 0.5 !default;

$Avatar_borderRadius: 0 !default;
$Avatar_boxShadow: 0 0 transparent !default; // Trick for mixing with other shadows when outlined

$Avatar--outlined_transitionDuration: $duration_fast !default;
$Avatar--outlined_transitionTimingFunction: ease !default;
$Avatar-image_transitionDuration: $duration_fast !default;
$Avatar-image_transitionTimingFunction: ease !default;

$Avatar_outlineWidth: $border-md!default;
$Avatar_outlineColor: $color-neutral-300 !default;

$Avatar--online_outlineWidth: $border-md!default;
$Avatar--online_outlineColor: $color-success-500 !default;
$Avatar--online_animationDuration: 2s !default;
$Avatar--online_animationTimingFunction: ease-in-out !default;
$Avatar--online_glowWidth: $space-lg !default;
$Avatar--online_glowColor: rgba($color-success-500, 0.5) !default;
$Avatar--round_borderRadius: 100% !default;

$Avatar_sizes: (
  'xs': (
    size: $size-xs,
    borderRadius: $radius-sm,
    outlineWidth: $border-md,
    boxShadow: $Avatar_boxShadow,
  ),
  'sm': (
    size: $size-sm,
    borderRadius: $radius-sm,
    outlineWidth: $border-md,
    boxShadow: $Avatar_boxShadow,
    textStyle: (xs, regular),
  ),
  'md': (
    size: $size-md,
    borderRadius: $radius-sm,
    outlineWidth: $border-md,
    boxShadow: $Avatar_boxShadow,
    textStyle: (md, regular),
  ),
  'lg': (
    size: $size-lg,
    borderRadius: $radius-sm,
    outlineWidth: $border-md,
    boxShadow: $Avatar_boxShadow,
    textStyle: (lg, regular),
  ),
  'xl': (
    size: $size-xl,
    borderRadius: $radius-sm,
    outlineWidth: $border-md,
    boxShadow: $shadow-md,
    textStyle: (lg, regular),
  ),
) !default;

// Defaults

$Avatar_size: map.get($Avatar_sizes, 'md', size) !default;
$Avatar_textStyle: map.get($Avatar_sizes, 'md', textStyle) !default;