$Box_pads: (
    xs: $space_xs,
    sm: $space_sm,
    md: $space_md,
    lg: $space_lg,
    xl: $space_xl,
) !default;

$Box_elevations: (
    0: (
        background: transparent,
        color: inherit,
        borderColor: $color-neutral-0,
        boxShadow: none,
    ),
    1: (
        background: $color-neutral-100,
        color: $color-neutral-1000,
        borderColor: $color-neutral-0,
        boxShadow: $shadow-sm,
    ),
    2: (
        background: $color-neutral-200,
        color: $color-neutral-1000,
        borderColor: $color-neutral-100,
        boxShadow: $shadow-md,
    ),
    3: (
        background: $color-neutral-300,
        color: $color-neutral-1000,
        borderColor: $color-neutral-200,
        boxShadow: $shadow-lg,
    ),
) !default;


$Box_padding: 0 !default;
$Box_color: map.get($Box_elevations, 0, color) !default;
$Box_background: map.get($Box_elevations, 0, background) !default;
$Box_borderColor: map.get($Box_elevations, 0, borderColor) !default;
$Box_boxShadow: map.get($Box_elevations, 0, boxShadow) !default;
$Box_borderRadius: 0 !default;
$Box--outlined_borderWidth: $border-sm !default;