$Button_borderWidth: $border-sm !default;
$Button--focus_zIndex: 1 !default;
$Button_transitionDuration: $duration_fast !default;
$Button_transitionTimingFunction: ease !default;
$Button_textAlign: center !default;

$Button_sizes: (
    'sm': (
        borderRadius: 0,
        height: $size-xs,
        textStyle: (sm, light),
        padding: $space-xs $space-md,
        gap: $space-sm,
    ),
    'md': (
        borderRadius: 0,
        height: $size-md,
        textStyle: (md, light),
        padding: $space-sm $space-lg,
        gap: $space-md,
    ),
    'lg': (
        borderRadius: 0,
        height: $size-lg,
        textStyle: (lg, light),
        padding: $space-md $space-xl,
        gap: $space-lg,
    ),
) !default;

$Button_variants: (
    'filled': (
        'primary': (
            color: $color-white,
            borderColor: transparent,
            background: $color-primary-500 $gradient-interactive,
            hoverColor: $color-white,
            hoverBackground: $color-primary-600 $gradient-interactive,
            hoverBorderColor: transparent,
            activeColor: $color-neutral-800,
            activeBackground: $color-primary-400 $gradient-interactive,
            activeBorderColor: transparent,
        ),
        'secondary': (
            color: $color-white,
            borderColor: transparent,
            background: $color-secondary-500 $gradient-interactive,
            hoverColor: $color-white,
            hoverBackground: $color-secondary-600 $gradient-interactive,
            hoverBorderColor: transparent,
            activeColor: $color-neutral-800,
            activeBackground: $color-secondary-400 $gradient-interactive,
            activeBorderColor: transparent,
        ),
        'neutral': (
            color: $color-white,
            borderColor: transparent,
            background: $color-neutral-300 $gradient-interactive,
            hoverColor: $color-white,
            hoverBackground: $color-neutral-400 $gradient-interactive,
            hoverBorderColor: transparent,
            activeColor: $color-neutral-800,
            activeBackground: $color-neutral-200 $gradient-interactive,
            activeBorderColor: transparent,
        ),
        'warning': (
            color: $color-white,
            borderColor: transparent,
            background: $color-warning-500 $gradient-interactive,
            hoverColor: $color-white,
            hoverBackground: $color-warning-600 $gradient-interactive,
            hoverBorderColor: transparent,
            activeColor: $color-neutral-800,
            activeBackground: $color-warning-400 $gradient-interactive,
            activeBorderColor: transparent,
        ),
        'danger': (
            color: $color-white,
            borderColor: transparent,
            background: $color-danger-500 $gradient-interactive,
            hoverColor: $color-white,
            hoverBackground: $color-danger-600 $gradient-interactive,
            hoverBorderColor: transparent,
            activeColor: $color-neutral-800,
            activeBackground: $color-danger-400 $gradient-interactive,
            activeBorderColor: transparent,
        ),
        'success': (
            color: $color-white,
            borderColor: transparent,
            background: $color-success-500 $gradient-interactive,
            hoverColor: $color-white,
            hoverBackground: $color-success-600 $gradient-interactive,
            hoverBorderColor: transparent,
            activeColor: $color-neutral-800,
            activeBackground: $color-success-400 $gradient-interactive,
            activeBorderColor: transparent,
        ),
    ),
    'outlined': (
        'primary': (
            color: $color-primary-500,
            borderColor: $color-primary-500,
            background: $gradient-interactive,
            hoverColor: $color-white,
            hoverBackground: $color-primary-500 $gradient-interactive,
            hoverBorderColor: transparent,
            activeColor: $color-neutral-800,
            activeBackground: $color-primary-400 $gradient-interactive,
            activeBorderColor: transparent,
        ),
        'secondary': (
            color: $color-secondary-500,
            borderColor: $color-secondary-500,
            background: $gradient-interactive,
            hoverColor: $color-white,
            hoverBackground: $color-secondary-500 $gradient-interactive,
            hoverBorderColor: transparent,
            activeColor: $color-neutral-800,
            activeBackground: $color-secondary-400 $gradient-interactive,
            activeBorderColor: transparent,
        ),
        'neutral': (
            color: $color-white,
            borderColor: $color-neutral-700,
            background: $gradient-interactive,
            hoverColor: $color-white,
            hoverBackground: rgba($color-white, 0.1) $gradient-interactive,
            hoverBorderColor: $color-neutral-700,
            activeColor: $color-neutral-800,
            activeBackground: rgba($color-black, 0.2) $gradient-interactive,
            activeBorderColor: $color-neutral-700,
        ),
        'warning': (
            color: $color-warning-500,
            borderColor: $color-warning-500,
            background: $gradient-interactive,
            hoverColor: $color-white,
            hoverBackground: $color-warning-500 $gradient-interactive,
            hoverBorderColor: transparent,
            activeColor: $color-neutral-800,
            activeBackground: $color-warning-400 $gradient-interactive,
            activeBorderColor: transparent,
        ),
        'danger': (
            color: $color-danger-500,
            borderColor: $color-danger-500,
            background: $gradient-interactive,
            hoverColor: $color-white,
            hoverBackground: $color-danger-500 $gradient-interactive,
            hoverBorderColor: transparent,
            activeColor: $color-neutral-800,
            activeBackground: $color-danger-400 $gradient-interactive,
            activeBorderColor: transparent,
        ),
        'success': (
            color: $color-success-500,
            borderColor: $color-success-500,
            background: $gradient-interactive,
            hoverColor: $color-white,
            hoverBackground: $color-success-500 $gradient-interactive,
            hoverBorderColor: transparent,
            activeColor: $color-neutral-800,
            activeBackground: $color-success-400 $gradient-interactive,
            activeBorderColor: transparent,
        ),
    ),
) !default;

// Disabled

$Button--disabled_opacity: 0.8 !default;
$Button--disabled_forceNeutral: true !default;

// If forceNeutral is true, those will be used
$Button--filled--disabled_color: $color-neutral-500;
$Button--filled--disabled_borderColor: transparent;
$Button--filled--disabled_background: $color-neutral-300;

$Button--outlined--disabled_borderColor: $color-neutral-500;
$Button--outlined--disabled_background: transparent;
$Button--outlined--disabled_color: $color-neutral-500;

// Cancel border width depending on the variant
// Can be useful depending on border visibility
$Button--filled_cancelBorderWidth: 0 !default;
$Button--outlined_cancelBorderWidth: $Button_borderWidth !default;
$Button--ghost_cancelBorderWidth: 0 !default;

// Defaults

$Button_borderRadius: map.get($Button_sizes, 'sm', borderRadius) !default;
$Button_height: map.get($Button_sizes, 'sm', height) !default;
$Button_fontSize: map.get($Button_sizes, 'sm', fontSize) !default;
$Button_padding: map.get($Button_sizes, 'sm', padding) !default;
$Button_gap: map.get($Button_sizes, 'sm', gap) !default;
$Button_color: map.get($Button_variants, 'filled', 'neutral', color) !default;
$Button_background: map.get($Button_variants, 'filled', 'neutral', background) !default;
$Button_borderColor: map.get($Button_variants, 'filled', 'neutral', borderColor) !default;
$Button--hover_color: map.get($Button_variants, 'filled', 'neutral', hoverColor) !default;
$Button--hover_borderColor: map.get(
   $Button_variants,
    'filled',
    'neutral',
    hoverBackground
) !default;
$Button--hover_background: map.get(
   $Button_variants,
    'filled',
    'neutral',
    hoverBackground
) !default;
$Button--active_color: map.get($Button_variants, 'filled', 'neutral', activeColor) !default;
$Button--active_borderColor: map.get(
   $Button_variants,
    'filled',
    'neutral',
    activeBackground
) !default;
$Button--active_background: map.get(
   $Button_variants,
    'filled',
    'neutral',
    activeBackground
) !default;
$Button_textTransform: uppercase !default;