$Checkbox_borderRadius: $radius-sm !default;
$Checkbox_borderWidth: $border-sm !default;
$Checkbox_size: $size-xs !default;
$Checkbox_margin: $space-sm !default;
$Checkbox_fontSize: $space-xl !default;
$Checkbox_transitionDuration: $duration_fast !default;
$Checkbox_transitionTimingFunction: ease !default;

$Checkbox_background: $color-neutral-300 $gradient-interactive !default;
$Checkbox_color: $color-white !default;
$Checkbox_borderColor: $color-neutral-300 !default;

$Checkbox--hover_background: $color-neutral-500 $gradient-interactive !default;
$Checkbox--hover_borderColor: $color-neutral-700 !default;

$Checkbox--checked_color: $color-white !default;
$Checkbox--checked_background: $color-primary-500 $gradient-interactive !default;
$Checkbox--checked_borderColor: $color-primary-500 !default;

$Checkbox--checked--hover_background: $color-primary-600 $gradient-interactive !default;
$Checkbox--checked--hover_borderColor: $color-primary-600 !default;

$Checkbox--disabled_color: $color-neutral-500 !default;
$Checkbox--disabled_background: $color-neutral-500 !default;
$Checkbox--disabled_borderColor: $color-neutral-500 !default;

$Checkbox--disabled--checked_color: $color-neutral-700 !default;
$Checkbox--disabled--checked_background: $color-neutral-500 !default;
$Checkbox--disabled--checked_borderColor: $color-neutral-500 !default;
