$Dot_boxShadow: none !default;
$Dot_margin: $space-md !default;
$Dot--active_animationDuration: 2s !default;
$Dot--active_animationTimingFunction: ease-in-out !default;
$Dot--active_glowWidth: $space-md !default;

$Dot_sizes: (
    'sm': (
        size: $space-sm,
    ),
    'md': (
        size: $space-md,
    ),
    'lg': (
        size: $space-lg,
    ),
) !default;

$Dot_intents: (
    'neutral': (
        color: $color-white,
        activeGlowColor: rgba($color-white, 0.5),
    ),
    'primary': (
        color: $color-primary-500,
        activeGlowColor: rgba($color-primary-500, 0.5),
    ),
    'secondary': (
        color: $color-secondary-500,
        activeGlowColor: rgba($color-secondary-500, 0.5),
    ),
    'error': (
        color: $color-danger-500,
        activeGlowColor: rgba($color-danger-500, 0.5),
    ),
    'warning': (
        color: $color-warning-500,
        activeGlowColor: rgba($color-warning-500, 0.5),
    ),
    'success': (
        color: $color-success-500,
        activeGlowColor: rgba($color-success-500, 0.5),
    ),
) !default;

// Defaults
$Dot_size: map.get($Dot_sizes, 'md', size) !default;
$Dot_color: map.get($Dot_intents, 'neutral', color) !default;
$Dot--active_glowColor: map.get($Dot_intents, 'neutral', activeGlowColor) !default;
