$Dropdown_padding: 0 !default;
$Dropdown_zIndex: 1000 !default;

$Dropdown--show_animationDuration: $duration_fast !default;
$Dropdown--show_animationTimingFunction: ease !default;
$Dropdown--hide_animationDuration: $duration_fast !default;
$Dropdown--hide_animationTimingFunction: ease !default;
