$Link_transitionDuration: $duration_fast !default;
$Link_transitionTimingFunction: ease !default;
$Link_borderRadius: 0;

$Link_intents: (
    'primary': (
        color: $color-primary-500,
        outlineColor: $color-primary-500,
        hoverColor: $color-primary-600,
        activeColor: $color-primary-400,
    ),
    'destructive': (
        color: $color-danger-500,
        outlineColor: $color-danger-500,
        hoverColor: $color-danger-600,
        activeColor: $color-danger-400,
    ),
) !default;

// Disabled

$Link--disabled_opacity: 0.5 !default;
$Link--disabled_forceNeutral: true !default;

// Underlined

$Link--underlined_textUnderlineOffset: $space-xs !default;

// If forceNeutral is true, those will be used
$Link--disabled_color: $color-neutral-500 !default;

// Defaults

$Link_color: map.get($Link_intents, 'primary', color) !default;
$Link_outlineColor: map.get($Link_intents, 'primary', outlineColor) !default;
$Link--hover_color: map.get($Link_intents, 'primary', hoverColor) !default;
$Link--active_color: map.get($Link_intents, 'primary', activeColor) !default;
