$List_minWidth: $container-xs !default;

$List-group_padding: 0 !default;
$List-groupHeader_textTransform: uppercase !default;
$List-groupHeader_textStyle: (sm, bold) !default;
$List-groupHeader_color: inherit !default;

$List-item_textStyle: (sm, light) !default;
$List-item_textTransform: uppercase !default;
$List-item_height: $size-md !default;
$List-item_gap: $space-md !default;
$List-item_padding: $space-sm $space-md !default;
$List-item_transitionDuration: $duration_fast !default;
$List-item_transitionTimingFunction: $timing_default !default;
$List-itemLeft_minWidth: 0!default;
$List-itemRight_minWidth: 0 !default;

$List-item_color: inherit !default;
$List-item_background: transparent !default;

// Interactive
$List-item--hover_background: rgba($color-neutral-800, 0.2) $gradient-interactive !default;
$List-item--hover_color: inherit !default;
$List-item--active_background: rgba($color-neutral-200, 0.2) $gradient-interactive  !default;
$List-item--active_color: $color-white !default;

// Focus indicator
$List-itemFocus_width: $space-sm !default;
$List-itemFocus_color: $color-primary-500 !default;
$List-itemFocus--selected_color: $color-white !default;

// States
$List-item--disabled_color: $color-neutral-500 !default;
$List-item--disabled_background: $List-item_background !default;

$List-item--selected_color: $color-white !default;
$List-item--selected_background: $color-primary-500  $gradient-interactive !default;
$List-item--selected--hover_color: $color-white !default;
$List-item--selected--hover_background: $color-primary-600 $gradient-interactive !default;
$List-item--selected--active_color: $color-white !default;
$List-item--selected--active_background: $color-primary-400 $gradient-interactive !default;

$List-item--disabled--selected_color: rgba($color-primary-700, 0.5) !default;
$List-item--disabled--selected_background: rgba($color-primary-500, 0.5) !default;