$Radio_borderWidth: $border-sm !default;
$Radio_size: $size-xs !default;
$Radio_margin: $space-sm !default;
$Radio_fontSize: $size-xs !default;
$Radio_transitionDuration: $duration_medium !default;
$Radio_transitionTimingFunction: ease !default;
$Radio-dot_size: $space-md !default;

$Radio_background: $color-neutral-300 $gradient-interactive !default;
$Radio_color: $color-white !default;
$Radio_borderColor: $color-neutral-300 !default;

$Radio--hover_background: $color-neutral-500 $gradient-interactive !default;
$Radio--hover_borderColor: $color-neutral-700 !default;

$Radio--checked_color: $color-white !default;
$Radio--checked_background: $color-primary-500 $gradient-interactive !default;
$Radio--checked_borderColor: $color-primary-500 !default;

$Radio--checked--hover_background: $color-primary-600 $gradient-interactive !default;
$Radio--checked--hover_borderColor: $color-primary-600 !default;

$Radio--disabled_color: $color-neutral-500 !default;
$Radio--disabled_background: $color-neutral-500 !default;
$Radio--disabled_borderColor: $color-neutral-500 !default;

$Radio--disabled--checked_color: $color-neutral-700 !default;
$Radio--disabled--checked_background: $color-neutral-500 !default;
$Radio--disabled--checked_borderColor: $color-neutral-500 !default;
