$Sidebar_zIndex: $zindex-side !default;

$Sidebar-container_boxShadow: $shadow-md !default;
$Sidebar-container_backgroundColor: $color-neutral-200 !default;
$Sidebar-container_borderRadius: $radius-sm !default;

$Sidebar--show_animationDuration: $duration_fast !default;
$Sidebar--show_animationTimingFunction: $timing_default !default;
$Sidebar--hide_animationDuration: $duration_fast !default;
$Sidebar--hide_animationTimingFunction: $timing_default !default;

$Sidebar--inset_background: $color-neutral-0 !default;
$Sidebar--inset--top_boxShadow: inset 0 -36px 12px -24px rgba($color-black, 0.5) !default;
$Sidebar--inset--bottom_boxShadow: inset 0 36px 12px -24px rgba($color-black, 0.5) !default;
$Sidebar--inset--left_boxShadow: inset -36px 0 12px -24px rgba($color-black, 0.5) !default;
$Sidebar--inset--right_boxShadow: inset 36px 0 12px -24px rgba($color-black, 0.5) !default;

$Sidebar_sizes: (
  'xs': $size-md,
  'sm': $container-xs,
  'md': $container-sm,
  'lg': $container-md,
  'xl': $container-lg,
  ) !default;

  $Sidebar_minSize: $size-md !default;