$Skeleton_backgroundColor: $color-neutral-300 !default;
$Skeleton_animationDuration: $duration_slow !default;
$Skeleton_animationTimingFunction: ease !default;

$Skeleton--square_borderRadius: 0 !default;
$Skeleton--rounded_borderRadius: $radius-sm !default;
