$Switch_style: 'square';

// Square switch

$Switch_width: 2 * $size-xs !default;
$Switch_height: $size-xs !default;
$Switch_margin: $space-sm !default;

$Switch_borderWidth: 0px !default;
$Switch_borderRadius: 0 !default;

$Switch-handle_size: $size-xs !default;
$Switch-handle_boxShadow: $shadow-xs !default;
$Switch-handle_borderRadius: 0 !default;

$Switch-icon_fontSize: $space-xl !default;

$Switch_padding: calc(($Switch_height - $Switch-handle_size - 2 * $Switch_borderWidth) / 2) !default;

$Switch_transitionDuration: $duration_fast !default;
$Switch_transitionTimingFunction: ease !default;

$Switch_background: $color-neutral-300 $gradient-interactive !default;
$Switch_color: $color-white !default;
$Switch_borderColor: $color-neutral-300 !default;
$Switch_handleBackground: $color-danger-500 $gradient-interactive !default;

$Switch--hover_background: $color-neutral-500 $gradient-interactive !default;
$Switch--hover_color: $color-white !default;
$Switch--hover_borderColor: $color-neutral-700 !default;
$Switch--hover_handleBackground: $color-danger-600 $gradient-interactive !default;

$Switch--checked_background: $color-neutral-300 $gradient-interactive !default;
$Switch--checked_color: $color-white !default;
$Switch--checked_borderColor: $color-neutral-300 !default;
$Switch--checked_handleBackground: $color-success-500 $gradient-interactive !default;

$Switch--checked--hover_background: $color-neutral-500 $gradient-interactive !default;
$Switch--checked--hover_color: $color-white !default;
$Switch--checked--hover_borderColor:  $color-neutral-700 !default;
$Switch--checked--hover_handleBackground: $color-success-600 $gradient-interactive !default;

$Switch--disabled_background: $color-neutral-500 !default;
$Switch--disabled_color: $color-neutral-700 !default;
$Switch--disabled_borderColor: $color-neutral-500 !default;
$Switch--disabled_handleBackground: $color-neutral-800 !default;

@if ($Switch_style == 'classic') {
  // ios style round switch
  
  $Switch_width: $size-md;
  $Switch_height: $size-xs;
  $Switch_margin: $space-sm;

  $Switch_borderWidth: $border-sm;
  $Switch_borderRadius: $size-md;

  $Switch-handle_size: $size-xs - $space-sm;
  $Switch-handle_boxShadow: $shadow-xs;
  $Switch-handle_borderRadius: $size-xs;

  $Switch-icon_fontSize: $Switch-handle_size - $space-sm;

  $Switch_padding: calc(($Switch_height - $Switch-handle_size - 2 * $Switch_borderWidth) / 2);

  $Switch_transitionDuration: $duration_fast;
  $Switch_transitionTimingFunction: ease;

  $Switch_background: $color-neutral-300 $gradient-interactive;
  $Switch_color: $color-neutral-500;
  $Switch_borderColor: $color-neutral-300;
  $Switch_handleBackground: $color-neutral-700;

  $Switch--hover_background: $color-neutral-500 $gradient-interactive;
  $Switch--hover_color: $color-neutral-800;
  $Switch--hover_borderColor: $color-neutral-700;
  $Switch--hover_handleBackground: $color-neutral-700;

  $Switch--checked_background: $color-success-500 $gradient-interactive;
  $Switch--checked_color: $color-success-500;
  $Switch--checked_borderColor: $color-success-500;
  $Switch--checked_handleBackground: $color-white;

  $Switch--checked--hover_background: $color-success-600 $gradient-interactive;
  $Switch--checked--hover_color: $color-success-600;
  $Switch--checked--hover_borderColor: $color-success-600;
  $Switch--checked--hover_handleBackground: $color-white;

  $Switch--disabled_background: $color-neutral-500 $gradient-interactive;
  $Switch--disabled_color: $color-neutral-700;
  $Switch--disabled_borderColor: $color-neutral-500;
  $Switch--disabled_handleBackground: $color-neutral-800;
}