$TreeView-item_paddingLeft: $space-md !default;
$TreeView-item_depthIndent: $space-lg !default;

$TreeView-group_color: $color-white !default;
$TreeView-group_borderColor: transparent !default;
$TreeView-group_background: $color-neutral-300 $gradient-interactive !default;
$TreeView-group--hover_color: $color-white !default;
$TreeView-group--hover_background: $color-neutral-400 $gradient-interactive !default;
$TreeView-group--hover_borderColor: transparent !default;
$TreeView-group--active_color: $color-neutral-800 !default;
$TreeView-group--active_background: $color-neutral-200 $gradient-interactive !default;
$TreeView-group--active_borderColor: transparent !default;