@import './tokens';
@import './ljas-ui-theme';

$Theme--dark_selector: '.theme-jar--dark' !default;

// Root styles

#{$Theme--dark_selector} {
    background: var(--body_background, $body_background);
    color: var(--body_color, $body_color);

    @include _textStyle(null, --body, $body_textStyle...);
}