@import './tokens';
@import './ljas-ui-theme';

$Theme_selector: '.theme-jar' !default;

#{$Theme_selector} {
  &, * {
    @include ljasScrollBar($scrollbar_width, $scrollbar_padding, $scrollbar_radius, $scrollbar-track_color, $scrollbar-thumb_color);
  }
}

body.ljas-hide-scroll {
  overflow: hidden;
  padding-right: var(--ljas-scrollbarWidth, 0px) !important;
}