$body_fontSize: 16px;
$body_fontFamily: 'Lato', 'Arial Unicode MS', 'Arial', sans-serif;


$color-black: #0e0e0e;
$color-white: #ffffff;

$color-neutral-0: #141414;
$color-neutral-100: #191919;
$color-neutral-200: #252525;
$color-neutral-300: #303030;
$color-neutral-400: #4a4a4a;
$color-neutral-500: #5c5c5c;
$color-neutral-600: #757575;
$color-neutral-700: #999999;
$color-neutral-800: #cccccc;
$color-neutral-900: #eeeeee;
$color-neutral-1000: #ffffff;

// PRIMARY
$color-primary-300: #0f41ca;
$color-primary-400: #1148e1;
$color-primary-500: #3567f0;
$color-primary-600: #648bf4;
$color-primary-700: #7c9df5;

$color-secondary-300: #442d83;
$color-secondary-400: #4e3496;
$color-secondary-500: #6241bc;
$color-secondary-600: #8166ca;
$color-secondary-700: #9079d1;

$color-danger-300: #ac2426;
$color-danger-400: #c1292b;
$color-danger-500: #d84547;
$color-danger-600: #e16f71;
$color-danger-700: #e58486;

$color-warning-300: #ac7124;
$color-warning-400: #c17f29;
$color-warning-500: #d89845;
$color-warning-600: #e1af6f;
$color-warning-700: #e5bb84;

$color-success-300: #0f6541;
$color-success-400: #127c4f;
$color-success-500: #19a86c;
$color-success-600: #20d489;
$color-success-700: #2ee095;

// Deprecated Palette naming - for compatibility

$color-neutral-darker:     $color-neutral-200;
$color-neutral-dark:       $color-neutral-300;
$color-neutral-normal:     $color-neutral-500;
$color-neutral-light:      $color-neutral-700;
$color-neutral-lighter:    $color-neutral-800;

$color-primary-darker:     $color-primary-300;
$color-primary-dark:       $color-primary-400;
$color-primary-normal:     $color-primary-500;
$color-primary-light:      $color-primary-600;
$color-primary-lighter:    $color-primary-700;

$color-secondary-darker:   $color-secondary-300;
$color-secondary-dark:     $color-secondary-400;
$color-secondary-normal:   $color-secondary-500;
$color-secondary-light:    $color-secondary-600;
$color-secondary-lighter:  $color-secondary-700;

$color-danger-darker:      $color-danger-300;
$color-danger-dark:        $color-danger-400;
$color-danger-normal:      $color-danger-500;
$color-danger-light:       $color-danger-600;
$color-danger-lighter:     $color-danger-700;

$color-warning-darker:     $color-warning-300;
$color-warning-dark:       $color-warning-400;
$color-warning-normal:     $color-warning-500;
$color-warning-light:      $color-warning-600;
$color-warning-lighter:    $color-warning-700;

$color-success-darker:     $color-success-300;
$color-success-dark:       $color-success-400;
$color-success-normal:     $color-success-500;
$color-success-light:      $color-success-600;
$color-success-lighter:    $color-success-700;

$gradient-interactive: linear-gradient(
  135deg,
  rgba(#fff, 0.12) 0%,
  rgba(#fff, 0) 50%,
  rgba(#000, 0) 51%,
  rgba(#000, 0.10) 100%,
) no-repeat;
$gradient-interactive-alt: linear-gradient(
  120deg,
  rgba(#fff, 0.15) 0%,
  rgba(#fff, 0) 50%,
  transparent 51%
) no-repeat;
// $gradient-interactive: radial-gradient(farthest-side at 0 0, rgba(#fff, 0.15), transparent) no-repeat;

$zindex-backdrop: -1;
$zindex-header: 400;
$zindex-side: 100;
$zindex-body: 200;
$zindex-dropdown: 500;
$zindex-modal: 1000;
$zindex-tooltip: 3000;

$duration_slow: 800ms;
$duration_medium: 300ms;
$duration_fast: 150ms;

$timing_default: cubic-bezier(.4, 0, .2, 1);
$timing_overshoot: cubic-bezier(.2, .6, .25, 2);

$transition_slow: $duration_slow $timing_default;
$transition_medium: $duration_medium $timing_default;
$transition_fast: $duration_fast $timing_default;

$space-xs: 2px;
$space-sm: 4px;
$space-md: 8px;
$space-lg: 12px;
$space-xl: 16px;

$size-xs: 24px;
$size-sm: 32px;
$size-md: 42px;
$size-lg: 64px;
$size-xl: 84px;

$container-xs: 200px;
$container-sm: 300px;
$container-md: 420px;
$container-lg: 640px;
$container-xl: 960px;

$radius-sm: 1px;

$border-none: 0;
$border-sm: 1px;
$border-md: 2px;

$shadow-xs: 0 1px 4px 0 rgba($color-black, 0.6);
$shadow-sm: 0 2px 8px 0 rgba($color-black, 0.6);
$shadow-md: 0 4px 16px 0 rgba($color-black, 0.6);
$shadow-lg: 0 4px 32px 0px rgba($color-black, 0.6);
$shadow-inset: inset 0 3px 6px 0 rgba($color-black, 0.3);

$typo: (
  lg: (
    bold: (
      font-family: $body_fontFamily,
      font-weight: 700,
      font-size: 24px,
      letter-spacing: 0,
      line-height: 32px,
    ),
    regular: (
      font-family: $body_fontFamily,
      font-weight: 400,
      font-size: 24px,
      letter-spacing: 0,
      line-height: 32px,
    ),
    light: (
      font-family: $body_fontFamily,
      font-weight: 300,
      font-size: 24px,
      letter-spacing: 0,
      line-height: 32px,
    ),
  ),
  md: (
    bold: (
      font-family: $body_fontFamily,
      font-weight: 700,
      font-size: 16px,
      letter-spacing: 0,
      line-height: 20px,
    ),
    regular: (
      font-family: $body_fontFamily,
      font-weight: 400,
      font-size: 16px,
      letter-spacing: 0,
      line-height: 20px,
    ),
    light: (
      font-family: $body_fontFamily,
      font-weight: 300,
      font-size: 16px,
      letter-spacing: 0,
      line-height: 20px,
    ),
  ),
  sm: (
    bold: (
      font-family: $body_fontFamily,
      font-weight: 700,
      font-size: 12px,
      line-height: 16px,
    ),
    regular: (
      font-family: $body_fontFamily,
      font-weight: 400,
      font-size: 12px,
      line-height: 16px,
    ),
    light: (
      font-family: $body_fontFamily,
      font-weight: 300,
      font-size: 12px,
      line-height: 16px,
    ),
  ),
);

$breakpoint-sm: 'only screen and (max-width : #{$container-md})';
$breakpoint-md: 'only screen and (max-width : #{$container-lg})';
$breakpoint-lg: 'only screen and (max-width : #{$container-xl})';