@import 'tokens';

.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $space-xl $space-md;
  flex-grow: 1;

  @media #{$breakpoint-md} {
    padding: $space-lg $space-sm;
  }

  @media #{$breakpoint-sm} {
    padding: $space-md $space-sm;
  }
}
