@import 'tokens';

$View_SettingsRouting_padding: $space-lg !default;

.base {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  flex-grow: 1;
  padding: $space-md $View_SettingsRouting_padding;
}

.header {
  min-height: 42px;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: $space-sm;
  padding: $space-sm $space-md;
  background-color: var(--fallback-b1, oklch(var(--b1)));
  box-shadow: 0 -2px 8px rgba($color-black, 0.15);
  border-top: $border-sm solid var(--fallback-bc, oklch(var(--bc) / 0.1));
}

.divider {
  flex: 1;
  border-top: $border-sm solid var(--fallback-bc, oklch(var(--bc) / 0.1));
  margin: 0 $space-sm;
}

:global {
  .react-flow__attribution {
    display: none;
  }
}
